* {
  font-family: futura-pt, sans-serif;
  color: white;
  text-decoration: none;
  line-height: 33px;
  font-weight: 600;
  word-spacing: 3px;
}

body {
  background-color: #1a1a1a;
}

.profile_picture {
  height: 201px;
  width: 315px;
}

a {
  color: #dddddd;
  font-size: 18px;
}

.card_container {
  display: flex;
  padding: 15px;
  background-color: #ffd600;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
  box-shadow: 1px 3px 10px 4px #000;
}

.card_lines img {
  max-width: 100%;
}

.card_left {
  align-self: flex-start;
}

.card_preview img {
  width: 244px;
}

.card_left {
  margin-top: 30px;
}

.card_text_flex h2 {
  color: #1a1a1a;
  margin-bottom: 0;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  margin-left: 30px;
  font-size: 18px;
  padding-top: 15px;
}

p {
  color: #dddddd;
  font-size: 18px;
  padding-bottom: 15px;
}

h2,
p {
  margin-bottom: 0;
  line-height: 38px;
}

h1 {
  font-weight: 800;
  font-size: 2.313em;
  margin-bottom: 45px;
  line-height: 33px;
}

.anim-typewriter {
  font-size: 270%;
  line-height: 85%;
}

h2 {
  font-size: 24px;
  border-color: white;
  margin-bottom: 15px;
}

.profile_picture {
  margin-top: 50px;
}

header {
  margin-top: 54px;
}

.vertical-line {
  left: 2px;
  border-right: 4px solid #ffd600;
  height: 120px;
  margin-top: 60px;
}

footer {
  background: #ffd600;
  margin-top: 50px;
}

.footer_h1 {
  color: #1a1a1a;
  padding: 80px 0 0 0;
}

.footer_p,
.footer_links a {
  color: #1a1a1a;
  margin-right: 10px;
}

.footer_links {
  padding-left: 0;
}

.footer_links li {
  margin-top: 15px;
}

.footer_button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

#copyright {
  font-size: 12px;
  color: #1a1a1a;
  height: 23px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.my_work,
.about_me_h1 {
  height: 137px;
}

.btn-outline-primary-light {
  border: solid 4px #1a1a1a;
  border-radius: 0;
  padding: 10px 30px;
}

/* -- Hello Animation ON -- */

.line-1 {
  border-right: 0.3em solid #ffd600;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 0.8s steps(7) 1s 1 normal both, blinkTextCursor;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 3.6em;
  }
}

@media (hover: hover) {
  a:hover {
    color: #ffd600;
  }

  .navbar-nav li:hover {
    text-decoration: underline;
  }

  .card_a:hover {
    text-decoration: none;
  }

  .footer_links li a:hover {
    color: white;
  }

  .btn-outline-primary-light:hover {
    border-color: white;
    color: white;
    background-color: #ffd600;
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  header {
    margin-top: 96px;
  }

  h1 {
    font-size: 280%;
  }

  h2 {
    line-height: 180%;
    font-size: 28px;
  }

  p {
    font-size: 21px;
    line-height: 200%;
  }

  a {
    font-size: 21px;
  }

  #datafeedwatch_link {
    font-size: 21px;
    color: #ffd600;
  }

  .anim-typewriter {
    font-size: 400%;
    line-height: 85%;
  }

  .footer_links li {
    margin-right: 15px;
    display: inline-block;
  }

  .navbar-nav li {
    padding-top: 30px;
  }

  .vertical-line {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 160px;
  }

  .my_work {
    margin-bottom: 20px;
  }

  #copyright {
    font-size: 16px;
  }
  .btn-outline-primary-light {
    font-size: 21px;
  }

  .card_preview img {
    width: 342px;
  }

  .card_left {
    align-self: flex-end;
  }

  .portfolio_2:hover,
  .portfolio_3:hover,
  .portfolio_4:hover {
    box-shadow: 0px 8px 0 0 #3657d9;
  }

  .profile_picture {
    height: auto;
    width: 375px;
  }

  .card_container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
